{
    "tabWidth": 4,
    "printWidth": 100,
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid"
}
